---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "blog";
const allPosts = await Astro.glob('../pages/posts/*.md');
---

<BaseLayout pageTitle={pageTitle}>
  <h1>Blogity blog</h1>
  <h2>... and my new Blog</h2>

  <ul>
	{allPosts.map(p => <li><a href={p.url}>{p.frontmatter.title}</a></li>)}
</ul>
</BaseLayout>
